<div class="login-body" style="display: flex; justify-content: center;">
    <div class="login-panel" style="position: absolute; top: 50%; transform: translate(0, -50%);">
        <img src="assets/layout/images/imagesVirtus/logoVirtus.svg" alt="harmony-layout" class="mobile"
        style="width: 45%; margin: auto; margin-top: 2rem;"/>
        <div class="left-part">
            <span class="login-panel-header">Iniciar Sesión en Virtus</span>
            <span class="login-panel-subheader">Bienvenido, por favor utilice el formulario para registrarse en la red Virtus</span>
            <div style="margin-top:32px">
                <div class="col-12">
                    <label>Correo electrónico / Usuario:</label>
                    <input type="text" autocomplete="off" pInputText/>
                </div>
                <div class="col-12">
                    <label>Ingrese Contraseña:</label>
                    <input type="password" autocomplete="off" pInputText feedback="false"/>
                </div>
            </div>
            <div class="col-6">
                <button type="button" pButton label="Acceder" class="p-button-raised" routerLink="/app"></button>
            </div>
        </div>
        <div class="right-part">
            <img src="assets/layout/images/imagesVirtus/fondoLogin.jpg" alt="harmony-layout" width="380" height="444"/>
        </div>
    </div>
</div>
