<div class="grid layout-dashboard">
    <div class="col-6 intro-text">
        <img src="assets/layout/images/dashboard/shape.svg" alt="harmony-layout" />
        <span>Daily Summary</span>
    </div>
    <div class="col-6 intro-calendar">
        <p-calendar placeholder="Date" [showIcon]="true"></p-calendar>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
        <div class="stats-box sales">
            <span class="statistics-header">SALES</span>
            <i class="pi pi-angle-right"></i>
            <img src="assets/layout/images/dashboard/icon-sales.svg" alt="harmony-layout" />
            <span class="statistics">$ 74,690</span>
            <div class="statistics-info-bg">
                <span class="statistics-info">16% more than previous month</span>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="stats-box views">
            <span class="statistics-header">VIEWS</span>
            <i class="pi pi-angle-right"></i>
            <img src="assets/layout/images/dashboard/icon-views.svg" alt="harmony-layout" />
            <span class="statistics">6215/Day</span>
            <div class="statistics-info-bg">
                <span class="statistics-info">2% less than previous month</span>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="stats-box users">
            <span class="statistics-header">USERS</span>
            <i class="pi pi-angle-right"></i>
            <img src="assets/layout/images/dashboard/icon-users.svg" alt="harmony-layout" />
            <span class="statistics">52812</span>
            <div class="statistics-info-bg">
                <span class="statistics-info">19% more than previous month</span>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="stats-box checkins">
            <span class="statistics-header">CHECK-INS</span>
            <i class="pi pi-angle-right"></i>
            <img src="assets/layout/images/dashboard/icon-checkins.svg" alt="harmony-layout" />
            <span class="statistics">77050</span>
            <div class="statistics-info-bg">
                <span class="statistics-info">43% more than previous month</span>
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <p-panel styleClass="knobs" header="Activity">
            <div class="grid">
                <div class="col-12 md:col-4 knob-container">
                    <div class="knob issue">
                        <span class="knob-number">77</span>
                    </div>
                    <div class="knob-label" style="color:#00b395">
                        <span>ISSUES</span>
                        <i class="pi pi-sliders-h issue"></i>
                        <div class="seperator"></div>
                        <span class="change">Last change: <strong>26 mins ago</strong></span>
                    </div>
                </div>
                <div class="col-12 md:col-4 knob-container">
                    <div class="knob commit">
                        <span class="knob-number">39</span>
                    </div>
                    <div class="knob-label" style="color:#ffba01">
                        <span>COMMITS</span>
                        <i class="pi pi-upload commit"></i>
                        <div class="seperator"></div>
                        <span class="change">Last change: <strong>26 mins ago</strong></span>
                    </div>
                </div>
                <div class="col-12 md:col-4 knob-container">
                    <div class="knob comment">
                        <span class="knob-number">128</span>
                    </div>
                    <div class="knob-label" style="color:#e4018d">
                        <span>COMMENTS</span>
                        <i class="pi pi-comment comment"></i>
                        <div class="seperator"></div>
                        <span class="change">Last change: <strong>26 mins ago</strong></span>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12 xl:col-6">
        <p-panel header="Weekly Progress" styleClass="weekly-progress">
            <ul>
                <li>
                    <div class="grid">
                        <div class="col-12 md:col-4">
                            <img src="assets/layout/images/dashboard/avatar-brenda.png" alt="harmony-layout" class="member-avatar" />
                            <div class="team-member">
                                <span class="member-name">Brenda Soto</span>
                                <span class="member-role">DEVELOPMENT</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-8">
                            <div class="progressbar">
                                <div class="progress-status issue" style="width:32%">32%</div>
                                <div class="progress-status commit" style="width:24%">24%</div>
                                <div class="progress-status comment" style="width:44%">44%</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid">
                        <div class="col-12 md:col-4">
                            <img src="assets/layout/images/dashboard/avatar-john.png" alt="harmony-layout" class="member-avatar" />
                            <div class="team-member">
                                <span class="member-name">John Swisher</span>
                                <span class="member-role">DESIGN</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-8">
                            <div class="progressbar">
                                <div class="progress-status issue" style="width:26%">26%</div>
                                <div class="progress-status commit" style="width:40%">40%</div>
                                <div class="progress-status comment" style="width:34%">34%</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid">
                        <div class="col-12 md:col-4">
                            <img src="assets/layout/images/dashboard/avatar-arlene.png" alt="harmony-layout" class="member-avatar" />
                            <div class="team-member">
                                <span class="member-name">Arlene Welch</span>
                                <span class="member-role">BUSINESS</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-8">
                            <div class="progressbar">
                                <div class="progress-status issue" style="width:16%">16%</div>
                                <div class="progress-status commit" style="width:23%">23%</div>
                                <div class="progress-status comment" style="width:61%">61%</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid">
                        <div class="col-12 md:col-4">
                            <img src="assets/layout/images/dashboard/avatar-warren.png" alt="harmony-layout" class="member-avatar" />
                            <div class="team-member">
                                <span class="member-name">Warren Shaw</span>
                                <span class="member-role">DEVELOPMENT</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-8">
                            <div class="progressbar">
                                <div class="progress-status issue" style="width:20%">20%</div>
                                <div class="progress-status commit" style="width:54%">54%</div>
                                <div class="progress-status comment" style="width:26%">26%</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </p-panel>
    </div>
</div>
