<p-toast key="tst" [baseZIndex]="99999"></p-toast>
<div class="grid p-fluid">
  <div class="col-12">
    <h3> {{tituloTopic}} </h3>
    <span> {{descriptionTopic}} </span>
    <div class="card mt-3">
      <h5>Recursos</h5>
      <div class="text-center" *ngIf="resourcesData === undefined">
        <img src="assets/layout/images/imagesVirtus/sinDatos.svg" alt="" width="300" class="">
      </div>
      <p-carousel [value]="resourcesData" [numVisible]="3" [numScroll]="3" [circular]="false"
                  [responsiveOptions]="carouselResponsiveOptions" [style]="{'margin-top':'1rem'}"
                  *ngIf="resourcesData !== undefined">
        <ng-template let-resource pTemplate="item">
          <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d)">
            <div>
              <h5 class="mb-1">{{resource.nameResource}}</h5>
              <span> {{resource.descriptionResource}} </span> <br>
              <div class="my-3">
                <a [href]="resource.pathfileResource"
                   target="_blank" pButton pRipple icon="xxx"
                   class="mr-2 p-button-rounded p-button"
                   [download]="resource.pathfileResource"
                   *ngIf="!resource.pathfileResource.includes('.pdf') && resource.pathfileResource !== ''">
                  <i class="pi pi-file"></i>
                </a>
                <button *ngIf="resource.pathfileResource !== '' && resource.pathfileResource.includes('.pdf')" pButton
                        pRipple icon="pi pi-file"
                        class="mr-2 p-button-rounded" pTooltip="Archivo"
                        tooltipPosition="bottom" (click)="viewFile(resource.pathfileResource)"></button>
                <button *ngIf="resource.pathurlsignResource !== ''" pButton pRipple icon="xxx"
                        class="mr-2 p-button-rounded p-button-success"
                        pTooltip="Lengua de señas" tooltipPosition="bottom"
                        (click)="viewVideo(resource.pathurlsignResource)">
                  <fa-icon [icon]="['fas', 'hands']"></fa-icon>
                </button>
                <button *ngIf="resource.pathvideoResource !== ''" pButton pRipple icon="pi pi-video"
                        class="mr-2 p-button-rounded p-button-info"
                        pTooltip="Video" tooltipPosition="bottom"
                        (click)="viewVideo(resource.pathvideoResource)">
                </button>
                <button *ngIf="resource.pathurlremoteResource !== ''" class="p-button-rounded p-button-help"
                        pButton pRipple icon="pi pi-link" pTooltip="Enlace remoto" tooltipPosition="bottom"
                        (click)="viewUrlRemot(resource.pathurlremoteResource)">
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <h5>Cuestionarios y evaluaciones</h5>
      <div class="text-center" *ngIf="evaluationData === undefined">
        <img src="assets/layout/images/imagesVirtus/sinDatos.svg" alt="" width="300" class="">
      </div>
      <p-carousel [value]="evaluationData" [numVisible]="3" [numScroll]="3" [circular]="false"
                  [responsiveOptions]="carouselResponsiveOptions" [style]="{'margin-top':'1rem'}"
                  *ngIf="evaluationData !== undefined">
        <ng-template let-evaluation pTemplate="item">
          <div class="border-round m-2 text-center p-2"
               [ngClass]="evaluation.typeEvaluation === 1 ? 'bg-blue-50' : 'bg-green-50'"
               style="border: 1px solid var(--surface-d)">
            <div>
              <h5 class="mb-1">{{evaluation.nameEvaluation}}</h5>
              <span> {{evaluation.descriptionEvaluation}} </span> <br>
              <span
                class="text-pink-400 font-italic font-bold"> {{evaluation.typeEvaluation === 1 ? 'Evaluación' : 'Cuestionario'}} </span>
              <div class="mt-3">
                <span class="p-badge p-badge-warning"> Preguntas: {{evaluation.numberquestionEvaluation}} </span> <br>
                <span
                  class="p-badge p-badge-success mt-3"> Tiene tiempo: {{evaluation.timeEvaluation ? 'Si' : 'No'}} </span>
                <br>
                <span *ngIf="evaluation.timeEvaluation"
                      class="p-badge p-badge-secondary mt-3"> Tiempo (minutos): {{evaluation.timeminutesEvaluation}} </span>
                <span *ngIf="!evaluation.timeEvaluation"
                      class="p-badge p-badge-secondary mt-3"> Tiempo (minutos): Ilimitado </span>
              </div>
              <hr>
              <div class="my-3">
                <button *ngIf="evaluation.typeEvaluation==2 " pButton pRipple icon="pi pi-pencil"
                        label="Ingresar" class="mr-2 p-button-success w-8rem"
                        routerLink="questionnaire/{{evaluation.id}}"></button>
                <button *ngIf="evaluation.typeEvaluation==1" pButton pRipple icon="pi pi-pencil"
                        label="Ingresar" class="mr-2 p-button-success w-8rem"
                        routerLink="evaluation/{{evaluation.id}}"></button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <p-dialog [(visible)]="viewPdf" [style]="{width: '890px'}" header="Visualizar pdf" [modal]="true"
            class="p-fluid">
    <ng-template pTemplate="content">
      <div class="">
        <pdf-viewer [src]="pdfUrl" [zoom-scale]="'page-width'"
                    [page]=""
                    [zoom]="1.1"
        ></pdf-viewer>
      </div>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="viewVideoDialog" header="Visualizar video" [modal]="true"
            class="p-fluid">
    <ng-template pTemplate="content">
      <video src="{{videoUrl}}" controls></video>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="vieweRemoteUrl" [style]="{width: '1000px', height: '600px'}" header="Visualizar recurso remoto"
            [modal]="true"
            class="p-fluid">
    <iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe"></iframe>
  </p-dialog>

  <p-scrollTop target="window" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
</div>
