<p-toast key="tst" [baseZIndex]="99999"></p-toast>
<div class="grid p-fluid">
  <div class="col-12">
    <h3> {{tituloTopic}} </h3>
    <span> {{descriptionTopic}} </span>
    <div class="card mt-3">
      <h5>Recursos</h5>
      <div *ngIf="statusResources === 0">
        <div class="grid">
          <div class="col">
            <p-skeleton height="10rem" styleClass="mb-2"></p-skeleton>
          </div>
          <div class="col">
            <p-skeleton height="10rem" styleClass="mb-2"></p-skeleton>
          </div>
          <div class="col">
            <p-skeleton height="10rem" styleClass="mb-2"></p-skeleton>
          </div>
        </div>
      </div>

      <div class="text-center" *ngIf="statusResources === 3">
        <img src="assets/layout/images/imagesVirtus/sinDatos.svg" alt="" width="300" class="">
      </div>

      <p-carousel [value]="resourcesData" [numVisible]="3" [numScroll]="3" [circular]="false"
                  [responsiveOptions]="carouselResponsiveOptions" [style]="{'margin-top':'1rem'}"
                  *ngIf="statusResources === 2">
        <ng-template let-resource pTemplate="item">
          <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d)">
            <div>
              <h5 class="mb-1">{{resource.name_resource}}</h5>
              <span> {{resource.description_resource}} </span> <br>
              <div class="my-3">
                <a [href]="resource.pathfile_resource"
                   target="_blank" pButton pRipple icon="xxx"
                   class="mr-2 p-button-rounded p-button"
                   [download]="resource.pathfile_resource"
                   *ngIf="!resource.pathfile_resource.includes('.pdf') && resource.pathfile_resource !== ''">
                  <i class="pi pi-file"></i>
                </a>
                <button *ngIf="resource.pathfile_resource !== '' && resource.pathfile_resource.includes('.pdf')" pButton
                        pRipple icon="pi pi-file"
                        class="mr-2 p-button-rounded" pTooltip="Archivo"
                        tooltipPosition="bottom" (click)="viewFile(resource.pathfile_resource)"></button>
                <button *ngIf="resource.pathurlsign_resource !== ''" pButton pRipple icon="xxx"
                        class="mr-2 p-button-rounded p-button-success"
                        pTooltip="Lengua de señas" tooltipPosition="bottom"
                        (click)="viewVideo(resource.pathurlsign_resource)">
                  <fa-icon [icon]="['fas', 'hands']"></fa-icon>
                </button>
                <button *ngIf="resource.pathvideo_resource !== ''" pButton pRipple icon="pi pi-video"
                        class="mr-2 p-button-rounded p-button-info"
                        pTooltip="Video" tooltipPosition="bottom"
                        (click)="viewVideo(resource.pathvideo_resource)">
                </button>
                <button *ngIf="resource.pathurlremote_resource!== ''" class="p-button-rounded p-button-help"
                        pButton pRipple icon="pi pi-link" pTooltip="Enlace remoto" tooltipPosition="bottom"
                        (click)="viewUrlRemot(resource.pathurlremote_resource)">
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <h5>Evaluaciones</h5>

      <div *ngIf="statusEvaluations === 0">
        <div class="grid">
          <div class="col">
            <p-skeleton height="10rem" styleClass="mb-2"></p-skeleton>
          </div>
          <div class="col">
            <p-skeleton height="10rem" styleClass="mb-2"></p-skeleton>
          </div>
          <div class="col">
            <p-skeleton height="10rem" styleClass="mb-2"></p-skeleton>
          </div>
        </div>
      </div>

      <div class="text-center" *ngIf="statusEvaluations === 3">
        <img src="assets/layout/images/imagesVirtus/sinDatos.svg" alt="" width="300" class="">
      </div>
      <p-carousel [value]="evaluationData" [numVisible]="3" [numScroll]="3" [circular]="false"
                  [responsiveOptions]="carouselResponsiveOptions" [style]="{'margin-top':'1rem'}"
                  *ngIf="statusEvaluations === 2">
        <ng-template let-evaluation pTemplate="item">
          <div class="border-round m-2 text-center p-2"
               [ngClass]="evaluation.type_evaluation === 1 ? 'bg-blue-50' : 'bg-green-50'"
               style="border: 1px solid var(--surface-d)">
            <div>
              <h5 class="mb-1">{{evaluation.name_evaluation}}</h5>
              <span> {{evaluation.description_evaluation}} </span> <br>
              <div class="mt-2">
                <i *ngIf="evaluation.type_evaluation === 2" class="pi pi-check-circle lg:font-bold text-green-500"
                   style="font-size: 45px"></i>
                <img *ngIf="evaluation.type_evaluation === 1" src="assets/layout/images/imagesVirtus/SVG/evaluacion.svg"
                     alt="" width="50">
              </div>
              <span
                class="text-pink-400 font-italic font-bold"> {{evaluation.type_evaluation === 1 ? 'Evaluación' : 'Autoevaluación'}} </span>
              <div class="mt-3">
                <span class="p-badge p-badge-warning"> Preguntas: {{evaluation.numberquestion_evaluation}} </span> <br>
                <!--                <span-->
                <!--                  class="p-badge p-badge-success mt-3"> Tiene tiempo: {{evaluation.timeEvaluation ? 'Si' : 'No'}} </span>-->
                <!--                <br>-->
                <span *ngIf="evaluation.time_evaluation"
                      class="p-badge p-badge-success mt-3"> Tiempo (minutos): {{evaluation.timeminutes_evaluation}} </span>
                <span *ngIf="!evaluation.time_evaluation"
                      class="p-badge p-badge-success mt-3"> Tiempo (minutos): Ilimitado </span>
                <br>
                <!--                <span-->
                <!--                  class="p-badge p-badge-success mt-3"> Tiene oportunidades: {{evaluation.opportunitiesEvaluation ? 'Si' : 'No'}} </span>-->
                <!--                <br>-->
                <span *ngIf="evaluation.opportunity_evaluation"
                      class="p-badge p-badge-secondary mt-3"> Intento número: {{evaluation.trynumber_person_evaluation}}
                  de {{evaluation.opportunities_evaluation}} </span>
                <span *ngIf="!evaluation.opportunity_evaluation"
                      class="p-badge p-badge-secondary mt-3">Intento número:  {{evaluation.trynumber_person_evaluation}}
                  de Ilimitado </span>
                <br>
                <span
                  class="p-badge p-badge-info mt-3"> Permite revisión: {{evaluation.allows_review ? 'Si' : 'No'}} </span>
                <br>
                <span
                  class="p-badge p-badge-danger mt-3"> Ordenado por categoría: {{evaluation.order_category ? 'Si' : 'No'}} </span>

              </div>
              <hr>
              <div class="my-3" *ngIf="evaluation.numberquestion_evaluation > 0">
                <button *ngIf="evaluation.type_evaluation==2 " pButton pRipple icon="pi pi-pencil"
                        label="Ingresar a autoevaluación" class="mr-2 p-button-success w-15rem"
                        routerLink="questionnaire/{{evaluation.id_evaluation}}"></button>
                <button *ngIf="evaluation.type_evaluation==1" pButton pRipple icon="pi pi-pencil"
                        label="Ingresar a evaluación" class="mr-2 p-button-info w-15rem"
                        routerLink="evaluation/{{evaluation.id_evaluation}}"></button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <p-dialog [(visible)]="viewPdf" [style]="{width: '890px'}" header="Visualizar pdf" [modal]="true"
            class="p-fluid">
    <ng-template pTemplate="content">
      <a [href]="pdfUrl" download="Manual VIRTUS - UTEQ (ver. 2023).pdf">
        <i class="pi pi-file"></i>
        <span> Descargar</span>
        <br>
      </a>
      <div class="">
        <pdf-viewer [src]="pdfUrl" [zoom-scale]="'page-width'"
                    [page]=""
                    [zoom]="1.1"
        ></pdf-viewer>
      </div>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="viewVideoDialog" header="Visualizar video" [modal]="true"
            class="p-fluid">
    <ng-template pTemplate="content">
      <video src="{{videoUrl}}" controls draggable="true" width="800" height="500"></video>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="vieweRemoteUrl" [style]="{width: '1000px', height: '600px'}" header="Visualizar recurso remoto"
            [modal]="true"
            class="p-fluid">
    <a [href]="urlSafe" target="_blank">
      <button type="button"
              class="p-element p-ripple p-button-rounded p-button-success mr-2 mb-2 p-button p-component p-button-icon-only">
        <span class="p-button-icon pi pi-search" aria-hidden="true"> </span>
      </button>
      <span> Ir a enlace </span>
    </a>
    <iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe"></iframe>
  </p-dialog>

  <p-scrollTop target="window" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
</div>
