<p-toast key="tst" [baseZIndex]="99999"></p-toast>

<div class="card">

  <div class="" *ngIf="loadingDataCourse">
    <div class="grid mb-2">
      <div class="col-6 ">
        <p-skeleton height="1rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
    <div class="grid mb-2">
      <div class="col-1 ">
        <p-skeleton height="1rem" styleClass="mb-2"></p-skeleton>
      </div>
      <div class="col-5 ">
        <p-skeleton height="1rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
    <div class="grid">
      <div class="col-1 ">
        <p-skeleton height="1rem" styleClass="mb-2"></p-skeleton>
      </div>
      <div class="col-11 ">
        <p-skeleton height="1rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
  </div>

  <div *ngIf="!loadingDataCourse">
    <div class="grid">
      <div class="col-12">
        <strong> Datos del curso seleccionado </strong>
        <hr>
      </div>
    </div>
    <div class="grid mb-2">
      <div class="col-1">
        <strong> Título: </strong>
      </div>
      <div class="col-5">
        {{dataCourse.nameCourse}}
      </div>
    </div>
    <div class="grid">
      <div class="col-1 ">
        <strong> Descripción: </strong>
      </div>
      <div class="col-11 ">
        {{dataCourse.descriptionCourse}}
      </div>
    </div>
  </div>
</div>

<div class="card">

  <div *ngIf="loading && statusApi === 0">
    <p-skeleton height="5rem" styleClass="mb-2"></p-skeleton>
    <div class="grid">
      <div class="col">
        <p-skeleton height="25rem" styleClass="mb-2"></p-skeleton>
      </div>
      <div class="col">
        <p-skeleton height="25rem" styleClass="mb-2"></p-skeleton>
      </div>
      <div class="col">
        <p-skeleton height="25rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
  </div>

  <p-dataView #dv [value]="modules" [paginator]="true" [rows]="6"
              filterBy="name_syllabu,description_syllabu,keywords_syllabu"
              layout="grid" [sortField]="sortField" [sortOrder]="sortOrder" *ngIf="statusApi === 2 && !loading">
    <ng-template pTemplate="header">
      <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
        <p-dropdown [options]="sortOptions" placeholder="Ordenar por" (onChange)="onSortChange($event)"
                    styleClass="mb-2 md:mb-0"></p-dropdown>
        <span class="p-input-icon-left mb-2 md:mb-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Buscador..."
                           (input)="dv.filter($any($event.target).value, 'contains')">
                </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>

    <ng-template let-modulo pTemplate="listItem">
      <div class="col-12 hover:bg-black-alpha-10 cursor-pointer">
        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
          <img [src]="modulo.pathimg_syllabus" [alt]="modulo.name_syllabu" width="100" height="100"
               class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5"/>
          <div class="flex-1 text-center md:text-left">
            <div class="font-bold text-2xl">{{modulo.name_syllabu}}</div>
            <div class="mb-3">{{modulo.description_syllabu}}</div>
          </div>
          <div
            class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
            <button [disabled]="modulo.cant_topic == 0" pButton icon="pi pi-th-large" label="Ver temas"
                    class="mb-2 p-button p-button-success"
                    routerLink="themes/{{modulo.id_syllabu}}"></button>
            <span *ngIf="modulo.cant_topic > 0" class="product-badge status-instock"> DISPONIBLE </span>
            <span *ngIf="modulo.cant_topic === 0" class="product-badge status-outofstock"> NO DISPONIBLE </span>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-modulo pTemplate="gridItem">
      <div class="col-12 md:col-4 hover:bg-black-alpha-10 cursor-pointer">
        <div class="card m-3 border-1 surface-border card-virtus">
          <div class="flex align-items-center justify-content-between">
            <div class="flex align-items-center">
              <span class="font-semibold">{{modulo.nameSyllabu}}</span>
            </div>
            <span *ngIf="modulo.cant_topic > 0" class="product-badge status-instock"> DISPONIBLE </span>
            <span *ngIf="modulo.cant_topic === 0" class="product-badge status-outofstock"> NO DISPONIBLE </span>
          </div>
          <div class="text-center">
            <div class="w-full  my-3 mx-0 imgcard-virtus">
              <img *ngIf="modulo.cant_topic > 0" [src]="modulo.pathimg_syllabus" [alt]="modulo.name_syllabu" width="200"
                   routerLink="themes/{{modulo.id_syllabu}}" pTooltip="Click para ingresar" tooltipPosition="right"/>
              <img *ngIf="modulo.cant_topic === 0" [src]="modulo.pathimg_syllabus" [alt]="modulo.name_syllabu"
                   width="200" (click)="getUtils.showMessages(4, 'Módulo no disponible', 'tst')"/>
            </div>
            <div class="text-2xl font-bold">{{modulo.name_syllabu}}</div>
            <div class="mb-3">{{modulo.description_syllabu}}</div>
            <!--<p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>-->
          </div>
          <div class="flex align-items-center justify-content-between">
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
  <p-scrollTop target="window" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>

</div>
