<div class="card">
  <p-tabView orientation="left">
    <p-tabPanel header="Datos" class="line-height-3 m-0">
      <form [formGroup]="frmEvaliationCuestionary">
        <div class="p-fluid">
          <div class="field">
            <label for="nombrem">Nombre:</label>
            <input id="nombrem" type="text" autocomplete="off" pInputText class="w-full" formControlName="name"
                   [ngClass]="
                 (form['name'].invalid && (form['name'].dirty && form['name'].touched)) ?
                 'ng-dirty ng-invalid' : ''"/>
            <small *ngIf="form['name'].invalid && (form['name'].dirty && form['name'].touched)"
                   class="p-error">Este campo es requerido.</small>
          </div>
          <div class="field">
            <label for="descm">Descripción:</label>
            <textarea pInputTextarea name="" id="descm" cols="30" rows="5" formControlName="description" [ngClass]="
                 (form['description'].invalid && (form['description'].dirty && form['description'].touched)) ?
                 'ng-dirty ng-invalid' : ''"></textarea>
            <small
              *ngIf="form['description'].invalid && (form['description'].dirty && form['description'].touched)"
              class="p-error">Este campo es requerido.</small>
          </div>
          <div class="field">
            <label>Tipo:</label>
            <p-dropdown id="type" [options]="typeEvalutionform" optionLabel="label" optionValue="value"
                        formControlName="typeEvaluation" [ngClass]="
                 (form['typeEvaluation'].invalid && (form['typeEvaluation'].dirty && form['typeEvaluation'].touched)) ?
                 'ng-dirty ng-invalid' : ''"></p-dropdown>
            <small
              *ngIf="form['typeEvaluation'].invalid && (form['typeEvaluation'].dirty && form['typeEvaluation'].touched)"
              class="p-error">Este campo es requerido.</small>
          </div>
          <div class="grid">
            <div class="col-2">
              <div class="field" style="display: grid">
                <label>Tiempo:</label>
                <p-inputSwitch formControlName="timeEvaluation"></p-inputSwitch>
              </div>
            </div>
            <div class="col" *ngIf="form['timeEvaluation'].value">
              <div class="field">
                <label for="tiempomin"> Tiempo (minmutos): </label>
                <p-inputNumber id="tiempomin" formControlName="timeminutesEvaluation"
                               [ngClass]="
                 (form['timeminutesEvaluation'].invalid && (form['timeminutesEvaluation'].dirty && form['timeminutesEvaluation'].touched)) ?
                 'ng-dirty ng-invalid' : ''"></p-inputNumber>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="col-2">
              <div class="field" style="display: grid">
                <label for="tiempomin"> Intentos: </label>
                <p-inputSwitch formControlName="opportunityEvaluation"></p-inputSwitch>
              </div>
            </div>
            <div class="col" *ngIf="form['opportunityEvaluation'].value">
              <div class="field">
                <label for="cantintentos"> Cantidad de intentos: </label>
                <p-inputNumber id="cantintentos" formControlName="opportunitiesEvaluation"
                               [ngClass]=" (form['opportunitiesEvaluation'].invalid && (form['opportunitiesEvaluation'].dirty
                           && form['opportunitiesEvaluation'].touched)) ?
                 'ng-dirty ng-invalid' : ''"></p-inputNumber>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="col-4">
              <div class="field" style="display: grid">
                <label> Ordenar por categoría: </label>
                <p-inputSwitch id="orderByCategory"
                               formControlName="orderByCategory"></p-inputSwitch>
              </div>
            </div>
          </div>
        </div>
      </form>
    </p-tabPanel>
    <p-tabPanel header="Banco de preguntas" class="line-height-3 m-0">
      <button pButton pRipple label="Nueva pregunta" icon="pi pi-plus" class="p-button-success mr-2 mb-4"
              (click)="new_question_dialog = true"></button>
      <p-accordion>
        <p-accordionTab header="Verdadero falso" [selected]="true" class="line-height-3 m-0">
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(1)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}}
              </span>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Opción única" [selected]="true" class="line-height-3 m-0">
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(2)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}}
              </span>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Opción multiples" [selected]="true" class="line-height-3 m-0">
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(3)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}} </span>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Complete" [selected]="true" class="line-height-3 m-0">
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(4)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}} </span>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Relación" [selected]="true" class="line-height-3 m-0">
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(5)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}} </span>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Puzzle" [selected]="true" class="line-height-3 m-0">
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(6)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}} </span>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Costruir palabra" [selected]="true" class="line-height-3 m-0">
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(7)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}} </span>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
  </p-tabView>
</div>

<p-dialog [(visible)]="new_question_dialog" [style]="{width: '500px'}" header="Seleccione el tipo de pregunta"
          [modal]="true"
          class="p-fluid">
  <ng-template pTemplate="content">
    <div class="grid mt-2">
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="assets/layout/images/imagesVirtus/choice.png" alt="" width="100" class="cursor-pointer"
               pTooltip="Verdadero o falso" tooltipPosition="top" routerLink="question_nu/1">
        </div>
      </div>
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="assets/layout/images/imagesVirtus/buttons.png" alt="" width="100" class="cursor-pointer"
               pTooltip="Unica opción" tooltipPosition="top" routerLink="question_nu/2">
        </div>
      </div>
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="../../../assets/layout/images/imagesVirtus/completed.png" alt="" width="100" class="cursor-pointer"
               pTooltip="Opciones multiples" tooltipPosition="top" routerLink="question_nu/3">
        </div>
      </div>
    </div>
    <div class="grid mt-1">
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="assets/layout/images/imagesVirtus/text-box.png" alt="" width="100" class="cursor-pointer"
               pTooltip="Completar" tooltipPosition="top" routerLink="question_nu/4">
        </div>
      </div>
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="assets/layout/images/imagesVirtus/archivo.png" alt="" width="100" class="cursor-pointer"
               pTooltip="Armar la palabra" tooltipPosition="top" routerLink="question_nu/7">
        </div>
      </div>
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="../../../assets/layout/images/imagesVirtus/relaciones.png" alt="" width="100"
               class="cursor-pointer" pTooltip="Relacionar" tooltipPosition="top" routerLink="question_nu/5">
        </div>
      </div>
    </div>
    <div class="grid mt-1">
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="assets/layout/images/imagesVirtus/rompecabezas.png" alt="" width="100" class="cursor-pointer"
               pTooltip="Puzzle" tooltipPosition="top" routerLink="question_nu/6">
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
