<p-toast key="tst" [baseZIndex]="99999"></p-toast>
<!--<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" position="bottom" [baseZIndex]="10000"-->
<!--                 rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>-->

<div class="card">
  <p-tabView orientation="left">
    <p-tabPanel header="Datos" class="line-height-3 m-0">
      <form [formGroup]="frmEvaliationCuestionary">
        <div class="p-fluid">
          <div class="field">
            <label for="nombrem">Nombre:</label>
            <input id="nombrem" type="text" autocomplete="off" pInputText class="w-full" formControlName="name"
                   [ngClass]="
                 (form['name'].invalid && (form['name'].dirty && form['name'].touched)) ?
                 'ng-dirty ng-invalid' : ''"/>
            <small *ngIf="form['name'].invalid && (form['name'].dirty && form['name'].touched)"
                   class="p-error">Este campo es requerido.</small>
          </div>
          <div class="field">
            <label for="descm">Descripción:</label>
            <textarea pInputTextarea name="" id="descm" cols="30" rows="5" formControlName="description" [ngClass]="
                 (form['description'].invalid && (form['description'].dirty && form['description'].touched)) ?
                 'ng-dirty ng-invalid' : ''"></textarea>
            <small
              *ngIf="form['description'].invalid && (form['description'].dirty && form['description'].touched)"
              class="p-error">Este campo es requerido.</small>
          </div>
          <div class="field">
            <label>Tipo:</label>
            <p-dropdown id="type" [options]="typeEvalutionform" optionLabel="label" optionValue="value"
                        formControlName="typeEvaluation" [ngClass]="
                 (form['typeEvaluation'].invalid && (form['typeEvaluation'].dirty && form['typeEvaluation'].touched)) ?
                 'ng-dirty ng-invalid' : ''"></p-dropdown>
            <small
              *ngIf="form['typeEvaluation'].invalid && (form['typeEvaluation'].dirty && form['typeEvaluation'].touched)"
              class="p-error">Este campo es requerido.</small>
          </div>
          <div class="grid">
            <div class="col-2">
              <div class="field" style="display: grid">
                <label>Tiempo:</label>
                <p-inputSwitch formControlName="timeEvaluation"></p-inputSwitch>
              </div>
            </div>
            <div class="col" *ngIf="form['timeEvaluation'].value">
              <div class="field">
                <label for="tiempomin"> Tiempo (minmutos): </label>
                <br/><label><span>Nota:</span> En evaluación es obligatorio tener tiempo</label>
                <p-inputNumber id="tiempomin" formControlName="timeminutesEvaluation"
                               [ngClass]="
                 (form['timeminutesEvaluation'].invalid && (form['timeminutesEvaluation'].dirty && form['timeminutesEvaluation'].touched)) ?
                 'ng-dirty ng-invalid' : ''"></p-inputNumber>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="col-2">
              <div class="field" style="display: grid">
                <label for="tiempomin"> Intentos: </label>
                <p-inputSwitch formControlName="opportunityEvaluation"></p-inputSwitch>
              </div>
            </div>
            <div class="col" *ngIf="form['opportunityEvaluation'].value">
              <div class="field">
                <label for="cantintentos"> Cantidad de intentos: </label>
                <p-inputNumber id="cantintentos" formControlName="opportunitiesEvaluation"
                               [ngClass]=" (form['opportunitiesEvaluation'].invalid && (form['opportunitiesEvaluation'].dirty
                           && form['opportunitiesEvaluation'].touched)) ?
                 'ng-dirty ng-invalid' : ''"></p-inputNumber>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-4">
              <div class="field" style="display: grid">
                <label> Ordenar por categoría: </label>
                <p-inputSwitch formControlName="orderCategory"></p-inputSwitch>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-4">
              <div class="field" style="display: grid">
                <label> Revisión de intento: </label>
                <p-inputSwitch formControlName="allowsReview"></p-inputSwitch>
              </div>
            </div>
          </div>
          <button pButton pRipple label="Guardar Cambios" icon="pi pi-pencil" class="p-button-success mr-2 mb-4"
                  (click)="updateParameterQuestion()"></button>
        </div>
      </form>
    </p-tabPanel>
    <p-tabPanel header="Banco de preguntas" class="line-height-3 m-0">
      <button pButton pRipple label="Nueva pregunta" icon="pi pi-plus" class="p-button-success mr-2 mb-4"
              (click)="new_question_dialog = true"></button>
      <p-accordion>
        <p-accordionTab header="Verdadero falso" [selected]="true" class="line-height-3 m-0">
          <div class="field">
            <label> Cantidad de preguntas a evaluar: </label>
            <input type="text" class="ml-3" pInputText (blur)="updateQuantityQuestions(1, 0)"
                   [(ngModel)]="quantityQuestions[0].number_question">
          </div>
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(1)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                  <span class="pi pi-eye mr-3 text-yellow-500 cursor-pointer" pTooltip="Visualizar"
                        tooltipPosition="top" (click)="previewQuestion(question)"></span>
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top" routerLink="question_nu/1/{{question.id_question}}"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top" (click)="deleteQuestion(question, 1)"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}}
              </span>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Opción única" [selected]="true" class="line-height-3 m-0">
          <div class="field">
            <label> Cantidad de preguntas a evaluar: </label>
            <input type="text" class="ml-3" pInputText (blur)="updateQuantityQuestions(2, 1)"
                   [(ngModel)]="quantityQuestions[1].number_question">
          </div>
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(2)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                  <span class="pi pi-eye mr-3 text-yellow-500 cursor-pointer" pTooltip="Visualizar"
                        tooltipPosition="top" (click)="previewQuestion(question)"></span>
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top" routerLink="question_nu/2/{{question.id_question}}"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top" (click)="deleteQuestion(question, 2)"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}}
              </span>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Opción multiples" [selected]="true" class="line-height-3 m-0">
          <div class="field">
            <label> Cantidad de preguntas a evaluar: </label>
            <input type="text" class="ml-3" pInputText (blur)="updateQuantityQuestions(3, 2)"
                   [(ngModel)]="quantityQuestions[2].number_question">
          </div>
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(3)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                   <span class="pi pi-eye mr-3 text-yellow-500 cursor-pointer"
                         pTooltip="Visualizar"
                         tooltipPosition="top"
                         (click)="previewQuestion(question)"></span>
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top" routerLink="question_nu/3/{{question.id_question}}"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top" (click)="deleteQuestion(question, 3)"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}} </span>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Complete" [selected]="true" class="line-height-3 m-0">
          <div class="field">
            <label> Cantidad de preguntas a evaluar: </label>
            <input type="text" class="ml-3" pInputText (blur)="updateQuantityQuestions(4, 3)"
                   [(ngModel)]="quantityQuestions[3].number_question">
          </div>
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(4)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                  <span class="pi pi-eye mr-3 text-yellow-500 cursor-pointer"
                        pTooltip="Visualizar"
                        tooltipPosition="top"
                        (click)="previewQuestion(question)"></span>
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top" routerLink="question_nu/4/{{question.id_question}}"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top" (click)="deleteQuestion(question, 4)"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}} </span>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Relación" [selected]="true" class="line-height-3 m-0">
          <div class="field">
            <label> Cantidad de preguntas a evaluar: </label>
            <input type="text" class="ml-3" pInputText (blur)="updateQuantityQuestions(5, 4)"
                   [(ngModel)]="quantityQuestions[4].number_question">
          </div>
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(5)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                  <span class="pi pi-eye mr-3 text-yellow-500 cursor-pointer"
                        pTooltip="Visualizar"
                        tooltipPosition="top"
                        (click)="previewQuestion(question)"></span>
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top" routerLink="question_nu/5/{{question.id_question}}"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top" (click)="deleteQuestion(question, 5)"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}} </span>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Puzzle" [selected]="true" class="line-height-3 m-0">
          <div class="field">
            <label> Cantidad de preguntas a evaluar: </label>
            <input type="text" class="ml-3" pInputText (blur)="updateQuantityQuestions(6, 5)"
                   [(ngModel)]="quantityQuestions[5].number_question">
          </div>
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(6)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                  <span class="pi pi-eye mr-3 text-yellow-500 cursor-pointer"
                        pTooltip="Visualizar"
                        tooltipPosition="top"
                        (click)="previewQuestion(question)"></span>
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top" routerLink="question_nu/6/{{question.id_question}}"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top" (click)="deleteQuestion(question, 6)"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}} </span>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Costruir palabra" [selected]="true" class="line-height-3 m-0">
          <div class="field">
            <label> Cantidad de preguntas a evaluar: </label>
            <input type="text" class="ml-3" pInputText (blur)="updateQuantityQuestions(7, 6)"
                   [(ngModel)]="quantityQuestions[6].number_question">
          </div>
          <div *ngFor="let question of evaluationObject.questions_; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(7)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2">
              <span>
                <div style="float: right">
                 <span class="pi pi-eye mr-3 text-yellow-500 cursor-pointer"
                       pTooltip="Visualizar"
                       tooltipPosition="top"
                       (click)="previewQuestion(question)"></span>
                  <span class="pi pi-pencil mr-3 text-blue-500 cursor-pointer" pTooltip="Editar"
                        tooltipPosition="top" routerLink="question_nu/7/{{question.id_question}}"></span>
                  <span class="pi pi-trash text-pink-500 cursor-pointer" pTooltip="Eliminar"
                        tooltipPosition="top" (click)="deleteQuestion(question, 7)"></span>
                </div>
                {{"N°" + (i2 + 1) + " " + question.title_question + ": " + question.description_question}} </span>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </p-tabPanel>
  </p-tabView>
</div>
<p-dialog [(visible)]="new_question_view_dialog" [style]="{width: '1000px'}" header="Visualizar pregunta"
          [modal]="true"
>
  <ng-template pTemplate="content">
    <div>
      <strong>Título: </strong>
      <p>{{questionObject.title_question}}</p>
      <strong>Descripción: </strong>
      <p>{{questionObject.description_question}}</p><br>
    </div>
    <!--verdadero o falso-->
    <div>
      <div *ngIf="questionObject.name_questioncategory == 'True or False' && !questionObject.canResource">
        <div *ngFor="let option of questionObject.answers_[0].options_answer; let i = index">
          <div class="field-radiobutton">
            <p-radioButton name="Simple_Option" [value]="option"
                           [(ngModel)]="questionObject.answers_[0].responses">
            </p-radioButton>
            <label [for]="'option_vf_' + alphabet[i]">{{alphabet[i].toUpperCase() + ")\t" + option.opcion}}</label>
          </div>
        </div>
      </div>
    </div>
    <!--Selección unica normal-->
    <div *ngIf="questionObject.name_questioncategory == 'Simple Option' && !questionObject.canResource">
      <div *ngFor="let option of questionObject.answers_[0].options_answer; let i = index">
        <div class="field-radiobutton">
          <p-radioButton [inputId]="'option_rd_' + alphabet[i]" name="Simple_Option" [value]="option"
                         [(ngModel)]="questionObject.answers_[0].responses"
          ></p-radioButton>
          <label [for]="'option_rd_' + alphabet[i]">{{alphabet[i].toUpperCase() + ")\t" + option.opcion}}</label>
        </div>
      </div>
    </div>
    <!--Selección unica normal con imagenes-->
    <div *ngIf="questionObject.name_questioncategory  == 'Simple Option' && questionObject.canResource"
         class="flex align-items-center justify-content-center">

      <p-card *ngFor="let option of questionObject.answers_[0].options_answer; let i = index"
              [attr.data-index]="i" [style]="{width: '120px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img class="img-color" alt="Card" [src]="option.resource" width="100">
        </ng-template>
        <p>{{option.opcion}}</p>
        <ng-template pTemplate="footer">
          <div class="field-radiobutton">
            <p-radioButton [inputId]="'option_rd_2_' + alphabet[i]" name="Simple_Option_img" [value]="option"
                           [(ngModel)]="questionObject.answers_[0].responses"
            ></p-radioButton>
            <label
              [for]="'option_rd_2_' + alphabet[i]"><strong>{{'Literal ' + alphabet[i].toUpperCase()}}</strong></label>
          </div>
        </ng-template>
      </p-card>
    </div>
    <!--Selección múltiple normal-->
    <div *ngIf="questionObject.name_questioncategory == 'Multiple Option' && !questionObject.canResource">
      <div *ngFor="let option of questionObject.answers_[0].options_answer; let i = index"
           [attr.data-index]="i">
        <div class="field-radiobutton">
          <p-checkbox [inputId]="'option_ck_' + alphabet[i]" name="multiple_Option" [value]="option"
                      [(ngModel)]="questionObject.answers_[0].responses"
          ></p-checkbox>
          <label [for]="'option_ck_' + alphabet[i]">{{alphabet[i].toUpperCase() + ")\t" + option.opcion}}</label>
        </div>
      </div>
    </div>
    <!--Selección múltiple normal con imagenes-->
    <div *ngIf="questionObject.name_questioncategory == 'Multiple Option' && questionObject.canResource"
         class="flex align-items-center justify-content-center">

      <p-card *ngFor="let option of questionObject.answers_[0].options_answer; let i = index"
              [attr.data-index]="i" [style]="{width: '120px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img alt="Card" [src]="option.resource" width="100">
        </ng-template>
        <p>{{option.opcion}}</p>
        <ng-template pTemplate="footer">
          <div class="field-radiobutton">
            <p-checkbox [inputId]="'option_ck_2_' + alphabet[i]" name="multiple_Option_img" [value]="option"
                        [(ngModel)]="questionObject.answers_[0].responses"></p-checkbox>
            <label
              [for]="'option_ck_2_' + alphabet[i]"><strong>{{'Literal ' + alphabet[i].toUpperCase()}}</strong></label>
          </div>
        </ng-template>
      </p-card>
    </div>
    <!--Complete-->
    <div *ngIf="questionObject.name_questioncategory == 'Complete' && !questionObject.canResource">
      <div *ngFor="let option of questionObject.answers_[0].options_answer; let i = index"
           [attr.data-index]="i">
        <div class="flex-auto">
          <span> {{questionObject.answers_[0].options_answer[0].description_question}}</span><br>
          <span> {{questionObject.answers_[0].options_answer[0].description_question_R}}</span><br>
          <li>
          <span *ngFor="let wg of questionObject.answers_[0].complete_parts; let ic = index"
                [attr.data-index]="ic"
                [style]="{color: (wg == '$option$'?'#FF0000':'#000'), 'font-weight': (wg == '$option$'?'bold;':'normal;')}">
                {{wg != '$option$' ? wg : ('(')}}
            <p-dropdown [inputId]="'relation_input_' + ic"
                        [options]="option.options"
                        [(ngModel)]="questionObject.answers_[0].options_answer[0].response[ic]"
                        optionLabel="option" placeholder=" -- Seleccione una opcíón --"
                        *ngIf="wg == '$option$'" [filter]="true" filterBy="rightSide"
                        [showClear]="true" [style]="{'minWidth':'20vw', 'width': '20vw'}"
            >
                  <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value"
                         *ngIf="questionObject.answers_[0].options_answer[0].response[ic]">
                      <img [src]="questionObject.answers_[0].options_answer[0].response[ic].resource" height="25"
                           [class]="'flag flag-FR'"
                           *ngIf="questionObject.answers_[0].options_answer[0].response[ic].resource.length > 0"
                      />
                      <div>{{questionObject.answers_[0].options_answer[0].response[ic].option}}</div>
                    </div>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                      <div class="ui-helper-clearfix template-border">
                        <img [src]="option.resource" [class]="'flag flag-FR'" alt=""
                             *ngIf="option.resource.length > 0"/>
                        <div>{{option.option}}</div>
                      </div>
                    </ng-template>
                </p-dropdown>
            <!--                Tiene imagenes-->
            {{wg != '$option$' ? '' : ') '}}
            </span>
        </div>
      </div>
    </div>
    <!--Armar la Palabra-->
    <div *ngIf="questionObject.name_questioncategory == tipoPregunta(7)">
      <div class="col-12">
        <p-messages severity="warn" [enableService]="true" [closable]="true">
          <ng-template pTemplate>
            <img src="assets/imgresource/empty/notification.png" width="25"/>
            <div class="ml-2">Actualmente este tipo de preguntas <strong>no soporta</strong> caracteristicas de
              accesibilidad como comandos de voz, acceso por teclado u otros.
            </div>
          </ng-template>
        </p-messages>
      </div>
      <h5>Palabra:</h5>
      <div class="centar-botones">
        <button pButton pRipple
                *ngFor="let option of questionObject.answers_[0].options_answer[0].opcion.toString().split(''); let i = index"
                class="p-button-info" [ngClass]="i != palabra.release ? 'p-button-outlined': ''"
                [disabled]="showLetra(option, i) == 'space'" (click)="clickUp(i)">
          <img height="35" [src]="'assets/imgresource/alfabeto/' + showLetra(option, i) + '.png'"/>
        </button>
      </div>

      <div class="col-12 justify-content-center align-content-center" style="margin-bottom: 50px!important;">
        <h5>Alfabeto español</h5>
        <div class="centar-botones">
          <div>
            <button pButton pRipple *ngFor="let letra of alphabet; let indL = index;" [attr.data-index]="indL"
                    class="p-button-info" [ngClass]="indL != palabra.press ? 'p-button-outlined': ''"
                    (click)="clickDown(indL)">
              <img height="35" [src]="'assets/imgresource/alfabeto/' + letra + '.png'"/>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Relacionar-->
    <div *ngIf="questionObject.name_questioncategory == 'Relate'">

      <!--        <div class="flex align-items-center justify-content-between">-->
      <div class="grid justify-content-between"
           *ngFor="let option of questionObject.answers_[0].options_answer; let i = index"
           [attr.data-index]="i">
        <div class="col-12 md:col-8 justify-content-end grid">
          <div class="col-12 md:col-{{option.resourse_leftSide.length > 0?'4':'0'}} justify-content-center">
            <img class="img-color" alt="Card" *ngIf="option.resourse_leftSide.length > 0"
                 [src]="option.resourse_leftSide" height="100">
          </div>
          <div class="col-12 md:col-{{option.resourse_leftSide.length > 0?'8':'12'}} justify-content-start">
            <p>{{alphabet[i].toUpperCase() + ")\t" + (option.leftSide.length > 0 ? option.leftSide : 'Foto')}}</p>
          </div>
        </div>
        <div class="col-12 md:col-4">
          <p-dropdown [inputId]="'relation_input_' + i"
                      [options]="questionObject.answers_[0].right_parts!"
                      [(ngModel)]="questionObject.answers_[0].responses[i]"
                      optionLabel="rightSide" [filter]="true" filterBy="rightSide"
                      [showClear]="true" placeholder=" -- - --" [style]="{'minWidth':'20vw', 'width': '20vw'}"
          >
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value" *ngIf="questionObject.answers_[0].responses[i]">
                <img [src]="questionObject.answers_[0].responses[i].resourse_rightSide" height="25"
                     [class]="'flag flag-FR'" *ngIf="questionObject.answers_[0].responses[i].resourse_rightSide"
                />
                <div>{{questionObject.answers_[0].responses[i].rightSide}}</div>
              </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div class="ui-helper-clearfix template-border">
                <img [src]="item.resourse_rightSide" [class]="'flag flag-FR'" alt=""/>
                <div>{{alphabet[item.ind].toUpperCase() + ".\t" + (item.rightSide.length > 0 ? item.rightSide : 'Opción')}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="col-12 justify-content-center align-content-center" style="padding-top: 0px;"
             *ngIf="i < questionObject.answers_[0].options_answer.length - 1">
          <p-divider></p-divider>
        </div>
      </div>
    </div>
    <!--Puzzle-->
    <div *ngIf="questionObject.name_questioncategory == tipoPregunta(6)">
      <div class="col-12">
        <p-messages severity="warn" [enableService]="true" [closable]="true">
          <ng-template pTemplate>
            <img src="assets/imgresource/empty/notification.png" width="25"
            />
            <div class="ml-2">Actualmente este tipo de preguntas <strong>no soporta</strong> caracteristicas de
              accesibilidad como comandos de voz, acceso por teclado u otros.
            </div>
          </ng-template>
        </p-messages>
      </div>
      <div class="flex align-items-center justify-content-center">
        <img class="img-color" alt="Card" [src]="questionObject.answers_[0].options_answer[0].resource" height="150">
      </div>
      <h5>Puzzle:</h5>
      <div class="centar-botones">
        <div *ngFor="let rowImgPz of tmpPuzzle.arrayImagePuzzle; let y = index">
          <button pButton pRipple *ngFor="let elem of rowImgPz; let x = index"
                  class="p-button-info" [ngClass]="!tmpPuzzle.isActive(x, y) ? 'p-button-outlined': ''"
                  style="padding: 1px!important;" (click)="tmpPuzzle.mover(x, y)">
            <img [src]="elem"/>
          </button>
        </div>
      </div>
    </div>

    <strong>Retroalimentación: </strong>
    <p>{{questionObject.feedback_question}}</p>
    <strong>Pista: </strong>
    <p>{{questionObject.hint_question}}</p><br>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="new_question_dialog" [style]="{width: '500px'}" header="Seleccione el tipo de pregunta"
          [modal]="true"
          class="p-fluid">
  <ng-template pTemplate="content">
    <div class="grid mt-2">
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="assets/layout/images/imagesVirtus/choice.png" alt="" width="100" class="cursor-pointer"
               pTooltip="Verdadero o falso" tooltipPosition="top" routerLink="question_nu/1/0">
        </div>
      </div>
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="assets/layout/images/imagesVirtus/buttons.png" alt="" width="100" class="cursor-pointer"
               pTooltip="Unica opción" tooltipPosition="top" routerLink="question_nu/2/0">
        </div>
      </div>
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="../../../assets/layout/images/imagesVirtus/completed.png" alt="" width="100" class="cursor-pointer"
               pTooltip="Opciones multiples" tooltipPosition="top" routerLink="question_nu/3/0">
        </div>
      </div>
    </div>
    <div class="grid mt-1">
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="assets/layout/images/imagesVirtus/text-box.png" alt="" width="100" class="cursor-pointer"
               pTooltip="Completar" tooltipPosition="top" routerLink="question_nu/4/0">
        </div>
      </div>
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="assets/layout/images/imagesVirtus/archivo.png" alt="" width="100" class="cursor-pointer"
               pTooltip="Armar la palabra" tooltipPosition="top" routerLink="question_nu/7/0">
        </div>
      </div>
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="../../../assets/layout/images/imagesVirtus/relaciones.png" alt="" width="100"
               class="cursor-pointer" pTooltip="Relacionar" tooltipPosition="top" routerLink="question_nu/5/0">
        </div>
      </div>
    </div>
    <div class="grid mt-1">
      <div class="col">
        <div class="shadow-2 p-3 text-center">
          <img src="assets/layout/images/imagesVirtus/rompecabezas.png" alt="" width="100" class="cursor-pointer"
               pTooltip="Puzzle" tooltipPosition="top" routerLink="question_nu/6/0">
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
