<div class="login-body" style="display: flex; justify-content: center;">
  <div class="login-panel" style="position: absolute; top: 50%; transform: translate(0, -50%); height: 585px">
    <img src="assets/layout/images/imagesVirtus/logoVirtus.svg" alt="harmony-layout" class="mobile"
         style="width: 45%; margin: auto; margin-top: 2rem;"/>
    <div class="left-part">
      <span class="login-panel-header">Registrarse en virtus</span>
      <span class="login-panel-subheader">Bienvenido, por favor utilice el formulario para registrarse en Virtus.
        Si ya tiene una cuenta, por favor  <a routerLink="/login" class="text-green-500"> inicie sesion </a> </span>
      <div class="mt-3">
        <div class="field">
          <label>Apellidos:</label>
          <input type="text" autocomplete="off" pInputText class="w-full"/>
        </div>
        <div class="field">
          <label>Nombres:</label>
          <input type="text" autocomplete="off" pInputText class="w-full"/>
        </div>
        <div class="field">
          <label>Correo electronico:</label>
          <input type="text" autocomplete="off" pInputText class="w-full"/>
        </div>
        <div class="field">
          <label>Contraseña:</label>
          <input type="password" autocomplete="new-password" pInputText class="w-full"/>
        </div>
        <div class="field">
          <label>Confirmar contraseña:</label>
          <input type="password" autocomplete="new-password" pInputText class="w-full"/>
        </div>
      </div>
      <div class="col-12 text-center">
        <button type="button" pButton label="Registrarse" class="p-button-raised w-full mb-3"></button>
      </div>
    </div>
    <div class="right-part">
      <img src="assets/layout/images/imagesVirtus/fondoLogin.jpg" alt="harmony-layout" width="380" height="585"/>
    </div>
  </div>
</div>
