<div class="login-body" style="display: flex; justify-content: center;">
  <div class="login-panel"
       style="position: absolute; top: 50%; transform: translate(0, -50%); height: auto; display: flex;align-items: stretch;">
    <img src="assets/layout/images/imagesVirtus/logoVirtus.svg" alt="harmony-layout" class="mobile"
         style="width: 45%; margin: auto; margin-top: 2rem;"/>
    <div class="left-part">
      <span class="login-panel-header">Registrarse en virtus</span>
      <span class="login-panel-subheader">Bienvenido, por favor utilice el formulario para registrarse en Virtus.
        Si ya tiene una cuenta, por favor  <a routerLink="/login" class="text-green-500"> inicie sesion </a> </span>
      <div class="mt-3">
        <div class="field">
          <label>Apellidos:</label>
          <input type="text" autocomplete="off" pInputText class="w-full" [(ngModel)]="person.lastname_person"/>
        </div>
        <div class="field">
          <label>Nombres:</label>
          <input type="text" autocomplete="off" pInputText class="w-full" [(ngModel)]="person.name_person"/>
        </div>
        <div class="field">
          <label>Correo electronico:</label>
          <input type="text" autocomplete="off" pInputText class="w-full" [(ngModel)]="person.email_person"/>
        </div>
        <div class="field">
          <label>Contraseña:</label>
          <input type="password" autocomplete="new-password" pInputText class="w-full" [(ngModel)]="newpassword"/>
        </div>
        <div class="field">
          <label>Confirmar contraseña:</label>
          <input type="password" autocomplete="new-password" pInputText class="w-full"
                 [(ngModel)]="person.password_person"/>
        </div>
      </div>
      <div class="col-12 text-center">
        <button type="button" pButton label="Registrarse" class="p-button-raised w-full mb-3"></button>
      </div>
    </div>
    <div class="right-part bg-blue-50" style="width: 50%;box-sizing: border-box;padding: 36px 75px 36px 36px;
  background: url('assets/layout/images/imagesVirtus/nuevoFondoLogin.jpg'); background-repeat: no-repeat; background-attachment: fixed;
  background-size: cover;">
    </div>
  </div>
</div>
