<div class="card">
  <pre style="text-align: center; white-space: pre-wrap">
   <h1> VIRTUS </h1>
    es una aplicación desarrollada como parte del proyecto de vinculación
    <strong> “Tecnologías de la Información y Comunicación enfocadas a la discapacidad
    en la zona de influencia de la UTEQ” (F&C) </strong>,
    de la Carrera de Ingeniería en Sistemas/Software,
    perteneciente a la Facultad de Ciencias de la Ingeniería,
    de la Universidad Técnica Estatal de Quevedo, en cooperación con
    Gobierno Autónomo Descentralizado Parroquial Rural La Esperanza.<br>
    Además en esta aplicación se refleja la propuesta realizada
    como parte del proyecto de investigación
    <strong>"Propuesta para el desarrollo de software educativo lúdico
    basada en el Diseño Universal para el Aprendizaje"</strong>
    <br>
    En la plataforma de educación <strong> VIRTUS </strong> se busca motivar a los usuarios
    mediante el uso de conceptos novedosos, cediéndole protagonismo a los estudiantes
    utilizando juegos y actividades para lograr un aprendizaje más didáctico

    <strong>Desarrollada por:</strong>
    Geovanny José Brito Casanoca
    Dúval Ricardo Carvajal Suárez
    Anthony Abrahan Pachay Espinoza
    Valeria Dayanna Torres Lindao

  <strong>Dirigido por:</strong>
  Orlando Erazo
  Mercedes Moreira

  <strong>En la administración de:</strong>
  Eduardo Díaz (Rector)
  Jenny Torres (Vicerrectora Académica)
  Roberto Pico (Vicerrector Administrativo)
  Leonardo Matute (Director de Vinculación)
  Washington Chiriboga (Decano)
  Stalin Carreño (Unidad de TIC)

  <strong>Con colaboración de:</strong>
  Técn. Irvin Alberto Burbano González
  Lic. Evelina Elisa Sevillano Basantes

  <strong>Para más información:</strong>
   <a>fyc.uteq.edu.ec</a>
  <a>https://www.facebook.com/fycuteq</a>


  © 2022 Universidad Técnica Estatal de Quevedo
  Campus "Ingeniero Manuel Agustín Haz Álvarez"
  Av. Quito km. 1 1/2 vía a Santo Domingo de los Tsáchilas
  (+593) 5 3702-220 Ext. 8039
  Email: info@uteq.edu.ec
  Quevedo - Los Ríos - Ecuador
 <a> www.uteq.edu.ec</a>
  </pre>
</div>
