<p-toast key="tst" [baseZIndex]="99999"></p-toast>
<div class="card">
  <h5> Encabezado pregunta </h5>
  <form [formGroup]="registerFormQuestion">

    <div class="grid">
      <div class="col-11">
        <input type="text" autocomplete="off" pInputText class="w-full" formControlName="pathurlfile_question"
               readonly placeholder="Seleccionar archivo"/>
        <small class="text-blue-500">Se permiten archivos .pdf .doc .xls .txt .zip o imágenes</small>
      </div>
      <div class="col-1">
        <label for="uploadFile" class="p-button p-button-secondary">
          <i class="pi pi-folder m-auto"></i>
          <input style="display: none" id="uploadFile" type="file" (change)="onUploadFile($event)">
        </label>
      </div>
    </div>

    <div class="grid">
      <div class="col-11">
        <input type="text" autocomplete="off" pInputText class="w-full" formControlName="pathurlsign_question"
               readonly
               placeholder="Seleccionar video con lenguaje de señas"/>
        <small class="text-blue-500">Se permiten videos con formato .mp4.</small>
      </div>
      <div class="col-1">
        <label for="uploadVideoSenia" class="p-button p-button-success"> <i
          class="pi pi-folder m-auto"></i> </label>
        <input style="display: none" id="uploadVideoSenia" type="file" (change)="onUploadVideoSenia($event)">
      </div>
    </div>

    <div class="grid">
      <div class="col-11">
        <input type="text" autocomplete="off" pInputText class="w-full" formControlName="pathurlvideo_question"
               readonly
               placeholder="Seleccionar video"/>
        <small class="text-blue-500">Se permiten videos con formato .mp4.</small>
      </div>
      <div class="col-1">
        <label for="uploadVideo" class="p-button p-button-info"> <i class="pi pi-folder m-auto"></i>
        </label>
        <input style="display: none" id="uploadVideo" type="file" (change)="onUploadVideo($event)">
      </div>
    </div>

    <div class="p-fluid mt-3">
      <div class="field">
        <label for="titulo"> Titulo: </label>
        <input id="titulo" pInputText type="text" formControlName="title_question">
      </div>
      <div class="field">
        <label for="description"> Descripcion: </label>
        <textarea pInputTextarea name="" id="description" cols="30" rows="5"
                  formControlName="description_question"></textarea>
      </div>
      <div class="field">
        <label for="retroalimen"> Retroalimentación: </label>
        <input id="retroalimen" pInputText type="text" formControlName="feedback_question">
      </div>
      <div class="field">
        <label for="pista"> Pista: </label>
        <input id="pista" pInputText type="text" formControlName="hint_question">
      </div>
      <div class="field">
        <label for="nivel"> Nivel de dificultad </label>
        <input id="nivel" type="text" pInputText readonly formControlName="level_question" [(ngModel)]="levelQuestion"/>
        <p-slider [min]="1" [max]="5" formControlName="level_question" [(ngModel)]="levelQuestion"></p-slider>
      </div>
      <div class="grid">
        <div class="col-2">
          <div class="field" style="display: grid">
            <label>Puntos:</label>
            <p-inputSwitch formControlName="points_question"></p-inputSwitch>
          </div>
        </div>
        <div class="col" *ngIf="form['points_question'].value">
          <div class="field">
            <label for="puntaje"> Puntaje: </label>
            <p-inputNumber id="puntaje" formControlName="maximumpoints_question"></p-inputNumber>
          </div>
        </div>
      </div>
    </div>
  </form>
  <span class="font-bold mb-3"> Configure las posibles respuestas </span>

  <!-- Estructura para las preguntas de verdadero o falso -->
  <div class="mt-2" *ngIf="typeQuestion === 1">
    <span> Seleccione el criterio a las posibles respuestas: </span>
    <div class="grid mt-2">
      <div class="col-12 md:col-4">
        <div class="field-radiobutton">
          <p-radioButton name="city" value="Verdadero/Falso" [(ngModel)]="valRadio" id="city1"
                         (onClick)="changeOption($event)"></p-radioButton>
          <label for="city1">Verdadero/Falso</label>
        </div>
      </div>
      <div class="col-12 md:col-4">
        <div class="field-radiobutton">
          <p-radioButton name="city" value="Si/No" [(ngModel)]="valRadio" (onClick)="changeOption($event)"
                         id="city2"></p-radioButton>
          <label for="city2">Si/No</label>
        </div>
      </div>
      <div class="col-12 md:col-4">
        <div class="field-radiobutton">
          <p-radioButton name="city" value="Correcto/Incorrecto" [(ngModel)]="valRadio" id="city3"
                         (onClick)="changeOption($event)"></p-radioButton>
          <label for="city3">Correcto/Incorrecto</label>
        </div>
      </div>
    </div>

    <span> Seleccione la opción correcta </span>
    <div class="p-fluid mt-3">
      <div class="field" *ngFor="let option of structure; let i = index">
        <label> {{option.opcion}} </label>
        <p-dropdown [options]="options" optionLabel="label" optionValue="value"
                    [(ngModel)]="option.correct"></p-dropdown>
      </div>
    </div>
  </div>

  <!-- Estructura para las preguntas de opcion unica -->
  <div class="mt-2" *ngIf="typeQuestion === 2">
    <button pButton pRipple label="Nuevo literal" icon="pi pi-plus" class="p-button-success mr-2 mb-4"
            (click)="addNewAlternative()"></button>
    <div class="p-fluid">
      <div class="field" *ngFor="let option of structure; let i = index">
        <strong class="mr-3"> LITERAL {{literales[i]}}) </strong>
        <label for="uploadFileAns{{i}}" class="bg-indigo-100 p-1 border-1 border-round cursor-pointer mr-2">
          Examinar... </label>
        <i *ngIf="option.resource !== ''"
           class="pi pi-eye cursor-pointer font-bold text-white bg-green-500 p-1 border-round"
           pTooltip="Visualizar"
           tooltipPosition="right" (click)="openViewFile(option.resource)"></i>
        <input style="display: none" id="uploadFileAns{{i}}" type="file"
               (change)="uploadFileResp($event, i)">
        <div class="grid mt-2">
          <div class="col">
            <label> Ingrese el enunciado de la respuesta </label>
            <input class="mt-2" pInputText type="text" value="{{option.opcion}}" [(ngModel)]="option.opcion">
          </div>
          <div class="col">
            <label> Especifique si la respuesta es correcta o incorrecta </label>
            <p-dropdown [options]="options" optionLabel="label" optionValue="value" styleClass="mt-2"
                        [(ngModel)]="option.correct" (onChange)="validateOptionUnique(i)"></p-dropdown>
          </div>
          <div class="col-1">
            <label> Acción </label> <br>
            <button pButton pRipple icon="pi pi-trash" class="mr-2 p-button p-button-danger mr-1"
                    style="margin-top: 7px" (click)="deleteAlternative(i)"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Estructura para las opciones multiples -->
  <div class="mt-2" *ngIf="typeQuestion === 3">
    <button pButton pRipple label="Nuevo literal" icon="pi pi-plus" class="p-button-success mr-2 mb-4"
            (click)="addNewAlternative()"></button>
    <div class="p-fluid">
      <div class="field" *ngFor="let option of structure; let i = index">
        <strong> LITERAL {{literales[i]}}) </strong>
        <label for="uploadFileAns{{i}}" class="bg-indigo-100 p-1 border-1 border-round cursor-pointer mr-2">
          Examinar... </label>
        <i *ngIf="option.resource !== ''"
           class="pi pi-eye cursor-pointer font-bold text-white bg-green-500 p-1 border-round"
           pTooltip="Visualizar"
           tooltipPosition="right" (click)="openViewFile(option.resource)"></i>
        <input style="display: none" id="uploadFileAns{{i}}" type="file"
               (change)="uploadFileResp($event, i)">
        <div class="grid mt-2">
          <div class="col">
            <label> Ingrese el enunciado de la respuesta </label>
            <input class="mt-2" pInputText type="text" value="{{option.opcion}}" [(ngModel)]="option.opcion">
          </div>
          <div class="col">
            <label> Especifique si la respuesta es correcta o incorrecta </label>
            <p-dropdown [options]="options" optionLabel="label" optionValue="value" styleClass="mt-2"
                        [(ngModel)]="option.correct"></p-dropdown>
          </div>
          <div class="col-1">
            <label> Acción </label> <br>
            <button pButton pRipple icon="pi pi-trash" class="mr-2 p-button p-button-danger"
                    style="margin-top: 7px" (click)="deleteAlternative(i)"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Estructura de relacionar items -->
  <div class="mt-2" *ngIf="typeQuestion === 5">
    <button pButton pRipple label="Nuevo literal" icon="pi pi-plus" class="p-button-success mr-2 mb-4"
            (click)="addNewAlternativeRel()"></button>
    <div class="p-fluid">
      <div class="field" *ngFor="let option of structure; let i = index">
        <strong> LITERAL {{literales[i]}}) </strong>
        <div class="grid mt-2">
          <div class="col-5">
            <label> Ingrese el texto a relacionar </label>
            <label for="uploadFileAnsR{{i}}" class="bg-indigo-100 p-1 border-1 border-round cursor-pointer mr-2">
              Examinar... </label>
            <i *ngIf="option.resourse_leftSide !== ''"
               class="pi pi-eye cursor-pointer font-bold text-white bg-green-500 p-1 border-round"
               pTooltip="Visualizar"
               tooltipPosition="right" (click)="openViewFile(option.resourse_leftSide)"></i>
            <input style="display: none" id="uploadFileAnsR{{i}}" type="file"
                   (change)="uploadFileRespL($event, i)">
            <input class="mt-2" pInputText type="text" value="{{option.leftSide}}" [(ngModel)]="option.leftSide">
          </div>
          <div class="col-1 text-center">
            <img src="assets/layout/images/imagesVirtus/resize.png" alt="" width="60">
          </div>
          <div class="col-5">
            <label> Ingrese el texto a relacionar </label>
            <label for="uploadFileAnsL{{i}}" class="bg-indigo-100 p-1 border-1 border-round cursor-pointer mr-2">
              Examinar... </label>
            <i *ngIf="option.resourse_rightSide !== ''"
               class="pi pi-eye cursor-pointer font-bold text-white bg-green-500 p-1 border-round"
               pTooltip="Visualizar"
               tooltipPosition="right" (click)="openViewFile(option.resourse_rightSide)"></i>
            <input style="display: none" id="uploadFileAnsL{{i}}" type="file"
                   (change)="uploadFileRespR($event, i)">
            <input class="mt-2" pInputText type="text" value="{{option.rightSide}}" [(ngModel)]="option.rightSide">
          </div>
          <div class="col-1">
            <label> Acción </label> <br>
            <button pButton pRipple icon="pi pi-trash" class="mr-2 p-button p-button-danger"
                    style="margin-top: 7px" (click)="deleteAlternative(i)"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Estructura para armar la palabra -->
  <div class="mt-2" *ngIf="typeQuestion === 7">
    <div class="p-fluid">
      <div class="field">
        <label> Ingrese la palabra a armar </label>
        <input style="text-transform:uppercase; font-size: 5rem; letter-spacing: 1.5px !important;" pInputText
               type="text"
               value="{{structure[0].opcion}}" [(ngModel)]="structure[0].opcion">
      </div>
    </div>
  </div>

  <!-- Estructura para puzzle -->
  <div class="mt-2" *ngIf="typeQuestion === 6">
    <div class="p-fluid text-center">
      <label for=""> Cantidad de piezas: </label> <br>
      <p-dropdown id="languagex" [options]="cant_piezas" optionLabel="label" optionValue="value"
                  styleClass="mt-2 m-auto w-3 mb-2" [(ngModel)]="structure[0].piece_questionarie"></p-dropdown>
      <div [formGroup]="frmPhoto" class="text-center">
        <img [src]="urlimageupload" alt="" width="400" height="400"
             style="border: 5px solid #2D3F47" class="border-round"> <br>
        <label for="uploadPhotoNew" class="p-button p-button-info w-2 mt-2"> <span
          class="m-auto"> Seleccionar foto </span>
        </label>
        <input style="display: none" id="uploadPhotoNew" formControlName="firstName" type="file"
               (change)="onFileChange($event)">
      </div>
    </div>
  </div>

  <!-- Estructura para completar -->
  <div class="" *ngIf="typeQuestion === 4">
    <div class="p-fluid">
      <div class="field">
        <label>Ingrese el texto a completar
          <!--          (click <strong class="text-blue-500 cursor-pointer" (click)="addOption()"> aqui </strong>-->
          <!--          para agregar una opcion):-->
        </label>

        <div class="grid">
          <div class="col">
            <input pInputText [(ngModel)]="text_entered" type="text">
          </div>
          <div class="col-2">
            <p-dropdown [options]="types_text" optionLabel="label" optionValue="value" styleClass=""
                        [(ngModel)]="type_selected"></p-dropdown>
          </div>
          <div class="col-1">
            <label for="uploadImgCompPosibleResp" class="p-button p-button-info"> <i
              class="pi pi-folder m-auto"></i> </label>
            <input style="display: none" id="uploadImgCompPosibleResp" type="file"
                   (change)="uploadFileCompPosibleResp($event)">
          </div>
        </div>

      </div>

      <button pButton pRipple label="Agregar texto" icon="pi pi-plus" class="p-button-success mr-2 mb-4"
              (click)="addText()" *ngIf="format_text.length <= 0"></button>

      <div class="line-height-4">
        <span *ngFor="let option of format_text; let i = index" [style]="option.style">
          {{ option.type != 'D' ? option.text : ''}}
          <p-overlayPanel #op>
            <img src="{{option.urlFileUpload}}" alt="{{option.text}}"/>
          </p-overlayPanel>
          <span *ngIf="option.type != 'TN' && option.type != 'D'" (click)="op.toggle($event)" class="pi pi-image text-blue-500 cursor-pointer"
                style="background: white;padding: 2px;border-radius: 3px; margin-right: 0.2rem"></span>
          <span (click)="eliminarItem(i)" *ngIf=" option.type !== 'D'" class="pi pi-trash text-pink-500 cursor-pointer"
                style="background: white;padding: 2px;border-radius: 3px;"></span>
        </span>
        <span *ngIf="format_text.length > 0" class="pi pi-plus p-button-success cursor-pointer" (click)="addText()"
              style="background: lightblue;padding: 5px;border-radius: 5px; margin-left: 1rem"> </span>
      </div>

      <div class="line-height-4">
        <span> Distractores: </span> <br>
        <span class="cursor-pointer bg-pink-500 text-white p-2 border-round" (click)="addDistractor()"> <span
          class="pi pi-plus"></span> Agregar distractor </span>
        <br>
        <span *ngFor="let option of format_text; let j = index"
              [style]="option.type === 'D' ? 'background: var(--pink-50);padding: 3px;border-radius: 3px;color: var(--pink-500);margin-right: 1rem;margin-top: .5rem' : ''">
          <span *ngIf=" option.type === 'D'" class="pi pi-times-circle"></span>
          {{ option.type === 'D' ? option.text : ''}}
          <p-overlayPanel #op>
            <img src="{{option.urlFileUpload}}" alt="{{option.text}}"/>
          </p-overlayPanel>
          <span *ngIf="option.type === 'D'" (click)="op.toggle($event)" class="pi pi-image text-blue-500 cursor-pointer"
                style="background: white;padding: 2px;border-radius: 3px; margin-right: 0.2rem"></span>
          <span (click)="eliminarItem(j)" *ngIf=" option.type === 'D'" class="pi pi-trash text-pink-500 cursor-pointer"
                style="background: white;padding: 2px;border-radius: 3px;"></span>
        </span>
      </div>

    </div>
  </div>

  <div class="text-center">
    <hr>
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="mr-2"
            (click)="resetQuestion()"></button>
    <button pButton pRipple [disabled]="registerFormQuestion.invalid" label="Guardar cambios" icon="pi pi-check"
            class="p-button-success" (click)="saveQuestion()"></button>
  </div>
</div>

<p-dialog [(visible)]="viewFile" [style]="{width: '500px'}" header="Visualizar recurso"
          [modal]="true">
  <div class="text-center">
    <img [src]="urlImg" alt="" width="400">
  </div>
</p-dialog>
