<div class="route-bar">
  <div class="route-bar-breadcrumb">
    <li>
      <a routerLink="">
        <i class="pi pi-home"></i>
      </a>
    </li>
    <li>&nbsp;/</li>
    <ng-template ngFor let-item let-last="last" [ngForOf]="items">
      <li *ngIf="item.label !== ''">
        <a [routerLink]="item.routerLink" *ngIf="item.routerLink"> {{item.label}} </a>
        <ng-container *ngIf="!item.routerLink"> {{item.label}} </ng-container>
      </li>
      <li *ngIf="!last && item.label !== ''">/</li>
    </ng-template>
  </div>

  <ul class="route-bar-menu">
    <!--        <li>-->
    <!--            <a href="#">-->
    <!--                <i class="pi pi-check-square"></i>-->
    <!--                <span>Misión y visión</span>-->
    <!--            </a>-->
    <!--        </li>-->
    <li>
      <a href="#">
        <i class="pi pi-envelope"></i>
        <span>Buzón de sugerencias - soporte</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="pi pi-file"></i>
        <span>Manual de usuario</span>
      </a>
    </li>
    <li>
      <a [routerLink]="items[0].routerLink" class="bg-blue-300">
        <i class="pi pi-angle-left"></i>
        <span>Atras</span>
      </a>
    </li>
  </ul>
</div>
