<!--<link  [href]="sanitizer.bypassSecurityTrustResourceUrl('./app.pagemain.component.css')">-->

<div class="landing-wrapper">
  <div id="header">
    <div class="header-top">
      <div class="grid">
        <div class="col-9 md:col-9 lg:col-4 logo-container">
          <a href="#">
            <img src="../../assets/layout/images/imagesVirtus/logoBVirtus.svg" alt="harmony-layout" width="140"/>
          </a>
        </div>
        <a id="menu-btn" href="#" class="col-3 md:col-3 menu-button-mobile">
          <img src="assets/layout/images/icon-menu.svg" alt="Menu"/>
        </a>

        <div class="col-12 md:col-12 lg:col-8">
          <ul id="landing-menu">
            <li>
              <a href="#home">Inicio</a>
              <i class="fa fa-arrow-right"></i>
            </li>
            <li>
              <a routerLink="/about">Acerca De</a>
              <i class="fa fa-arrow-right"></i>
            </li>
            <li>
              <a routerLink="information">Información</a>
              <i class="fa fa-arrow-right"></i>
            </li>
            <li class="login">
              <a routerLink="/login" style="margin-right: inherit">Ingresar</a>
              <i class="fa fa-arrow-right"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="header-content animation-element slide-bottom">
      <b><h1>VIRTUS: Aplicación educativa con enfoque universal</h1></b>
      <b><h2 style="line-height: 1.5; color: black"></h2></b>
      <!--      <div>-->
      <!--        <button type="button" class="p-button p-button-danger" onclick="location.href='#features'">-->
      <!--          <b> <span class="p-button-text">Leer mas</span> </b>-->
      <!--        </button>-->
      <!--      </div>-->
    </div>
  </div>

  <div id="features">
    <div>
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-4">
          <div class="features-content">
            <img src="./assets/layout/images/landing/icon-responsive.svg" alt="harmony-layout"/>
            <h3>¿POR QUÉ VIRTUS?</h3>
            <p>En la aplicación de educación VIRTUS queremos motivar a los usuarios mediante el uso de conceptos
              novedosos, cediéndole protagonismo a los estudiantes utilizando juegos y actividades para hacer el
              estudio más didáctico
            </p>
          </div>
        </div>
        <div class="col-12 md:col-12 lg:col-4">
          <div class="features-content">
            <img src="./assets/layout/images/landing/icon-moderndesign.svg" alt="harmony-layout"/>
            <h3>¿QUÉ ENFOQUE TENDRÍA VIRTUS?</h3>
            <p>El estudio de conceptos de una manera abierta e inclusiva inspirado y apuntando a la universalidad
            </p>
          </div>
        </div>
        <div class="col-12 md:col-12 lg:col-4">
          <div class="features-content">
            <img src="./assets/layout/images/landing/reading.png" alt="harmony-layout" width="80" height="80"/>
            <h3>¿A QUIÉN VA DIRIGIDO?</h3>
            <p>A los usuarios en general que busquen reforzar temas educativos en diferentes niveles, pero
              principalmente a personas como discapacidades que busquen una manera novedosa de estudio.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  <div id="news">-->
  <!--    <div>-->
  <!--      <div class="grid">-->
  <!--        <div class="col-12 md:col-12 news-content">-->
  <!--          <h2></h2>-->
  <!--          <p>-->
  <!--          </p>-->
  <!--&lt;!&ndash;          <button type="button" class="p-button p-button-success">&ndash;&gt;-->
  <!--&lt;!&ndash;            <span class="p-button-text">Learn More</span>&ndash;&gt;-->
  <!--&lt;!&ndash;          </button>&ndash;&gt;-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <div id="pricing">-->

  <!--  </div>-->

  <div id="multimedia">
    <div>
      <div class="col-12 md:col-12 video-header">
        <h2>¿Cómo funciona VIRTUS?</h2>
        <span> Mira este video tutorial para que conozcas todo lo que ofrece VIRTUS </span>
      </div>
      <div class="video-container">
        <video id='video' width="600" controls preload='none' draggable="true"
               poster="../../assets/layout/images/imagesVirtus/logoWVirtus.svg">
<!--          <source id='mp4'-->
<!--                  src="https://fyc.uteq.edu.ec:9549/api/files/archivos/8nkMAH62Id77Ulx/GbIVundG28hRqyBEuvwXEfu1gInHDVDT.mp4"-->
<!--                  type='video/mp4'/>-->
<!--          <source id='mp4'-->
<!--                  src="https://fyc.uteq.edu.ec:9549/api/files/R0BDS4ixyAqvSUv/rkkd1DsyZB9iJtf/yhd1LETd20UmIIiXlI9eeKpVYmNBfH8e.mp4"-->
<!--                  type='video/mp4'/>-->
          <source id='mp4'
                  src="https://fyc.uteq.edu.ec/pocketbase/api/files/R0BDS4ixyAqvSUv/UwTqFtOfqYN9OvD/4MwMTzgbuzRdN1y2o1nCEOa78t3tvL6L.mp4"
                  type='video/mp4'/>
        </video>
      </div>
      <!--        <video width="75%"-->
      <!--               src=""-->
      <!--               poster="../../assets/layout/images/imagesVirtus/logoWVirtus.svg"-->
      <!--               draggable="true"-->
      <!--               controls="controls" muted loop>-->

      <!--        </video>-->
      <!--      </div>-->
      <!--      <div class="video-container">-->
      <!--        <iframe src="https://aplicaciones.uteq.edu.ec:9549/api/files/EQnByY3S4e7H4Fg/fANc06zGRDUSDbS/RiThOp8NMzIkBz4jEM7SJNZDOgJysoXP.mp4" frameborder="0" width="560"></iframe>-->
      <!--      </div>-->
    </div>
  </div>

  <div id="footer">
    <div class="grid">
      <div class="col-12 md:col-12 lg:col-4 footer grid">
        <div class="logo col-12">
          <img src="assets/layout/images/imagesVirtus/logoWVirtus.svg" alt="harmony-layout"/>
          <span class="app-name">VIRTUS</span>
        </div>
        <span class="col-12">Aplicación educativa con enfoque universal</span>
        <span class="col-12" *ngIf="cantVisitValue !== undefined">Contador de visitas:
          <b>{{ cantVisitValue }}</b>
        </span>

      </div>
      <div class="col-12 md:col-12 lg:col-8" style="text-align:center">
        <div id="landing-menu-footer" class="grid">
          <div class="col-12 md:col-6 lg:col-3 landing-box">
            <b><span>Información</span></b>
            <br/>
            <a href="">Copyright © 2023 </a>
            <a href="">Universidad Técnica Estatal de Quevedo</a>
            <a href="">(+593) 5 3702-220 Ext. 8039</a>
            <a href="">info@uteq.edu.ec</a>
          </div>
          <div class="col-12 md:col-6 lg:col-3 landing-box">
            <b> <span>Contacto</span></b>
            <br/>
            <a href="">Orlando Erazo (oerazo@uteq.edu.ec)</a>
            <a href=""> Mercedes Moreira (mmoreira@uteq.edu.ec)</a>
            <a href="">Geovanny Brito (geovannybricex@gmail.com)</a>
          </div>
          <div class="col-12 md:col-6 lg:col-3 landing-box">
            <b> <span>Redes Sociales</span></b>
            <br/>
            <a href="https://www.facebook.com/fycuteq">Facebook</a>
            <a href="https://www.youtube.com/playlist?list=PL2t9AygoxQ1u9Wjs_Im_CYUvK27DHk5Hq">Yotube</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <p-scrollTop target="window" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>

</div>


