<div class="exception-body notfound">
    <div class="logo">
        <img src="assets/layout/images/imagesVirtus/logoWVirtus.svg" alt="harmony-layout"/>
        <span class="app-name">Virtus</span>
    </div>

    <div class="exception-panel">
        <img src="assets/layout/images/imagesVirtus/logoVirtus.svg" alt="harmony-layout" class="mobile"/>
        <div class="left-part">
            <span class="exception-panel-header">Pagina no encontrada</span>
            <span class="exception-panel-subheader">El recurso solicitado no está disponible.</span>

            <button type="button" pButton label="Inicio" class="p-button-raised" [routerLink]="['/']"></button>
        </div>
        <div class="right-part">
            <img src="assets/layout/images/template/image-404.png" alt="harmony-layout"/>
        </div>
    </div>
  <p-scrollTop target="window" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>

</div>
