<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="grid">
        <div class="xl:col-6 lg:col-6 sm:col-6">
          <h4 class="mt-2">{{evaluationObject.name_evaluation}}</h4>
        </div>
        <!--div class="xl:col-1 md:col-2 sm:col-2 text-center border-right-1 line-height-3">
          <span>Total</span> <br>
          <span> <strong>3</strong> </span>
        </div-->
        <!--div class="xl:col-1 md:col-2 sm:col-2 text-center border-right-1 line-height-3">
          <span>Puntos</span> <br>
          <span><strong>{{totalPuntos()}}</strong></span>
        </div-->
        <div class="xl:col-1 md:col-2 sm:col-2 text-center border-right-1 line-height-3">
          <span>Resueltas</span> <br>
          <span><strong>{{getCountResueltas()}}</strong></span>
        </div>
        <div class="xl:col-1 md:col-2 sm:col-2 text-center border-right-1 line-height-3">
          <span>Tiempo</span> <br>
          <span
            style="{{tiempoEvaluacion < 5*60?'color: red;':''}}"><strong>{{miliseguntos2Segundos(tiempoEvaluacion)}}</strong></span>
        </div>
        <div class="xl:col-1 md:col-2 sm:col-2 text-center">
          <button pButton pRipple label="Enviar" class="p-button-success mt-2"></button>
        </div>
        <div class="col-12 p-fieldset-content">
          <p>{{evaluationObject.description_evaluation}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <p-messages severity="warn" [enableService]="true" *ngIf="!voiceComandsSupport()">
      <ng-template pTemplate>
        <img src="assets/imgresource/empty/notification.png" width="75"
        />
        <div class="ml-2">Actualmente tenemos problemas de compatibilidad.<br/>En este navegador <strong>no podrás usar
          los comandos de voz</strong>.
        </div>
      </ng-template>
    </p-messages>
  </div>
  <div class="col-6 md:col-3">
    <div class="card">
      <h5>Banco de preguntas</h5>
      <p-accordion>
        <p-accordionTab header="Verdadero o Falso" [selected]="true" class="line-height-3 m-0"
                        *ngIf="evaluationObject.trueorfalse.length > 0">
          <div *ngFor="let question of evaluationObject.trueorfalse; let i2 = index">
            <div class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2"
                 (click)="cambiarPregunta(1, i2)">
              <span> {{"N°" +recuentosAnteriores (1, i2)}} </span>
              <i class="pi pi-circle-on mt-1 text-sm {{question.answers_[0].responses != undefined?'text-green-600': 'text-pink-600'}}"
                 style="float: right"></i>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Opción única" [selected]="true" class="line-height-3 m-0"
                *ngIf="evaluationObject.simpleoption.length > 0">
          <div *ngFor="let question of evaluationObject.simpleoption; let i2 = index">
            <div class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2"
                 (click)="cambiarPregunta(2, i2)">
              <span> {{"N°" +recuentosAnteriores (2, i2)}} </span>
              <i class="pi pi-circle-on mt-1 text-sm {{question.answers_[0].responses != undefined?'text-green-600': 'text-pink-600'}}"
                 style="float: right"></i>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Opción multiples" [selected]="true" class="line-height-3 m-0"
                *ngIf="evaluationObject.multipleoption.length > 0">
          <div *ngFor="let question of evaluationObject.multipleoption; let i2 = index">
            <div class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2"
                 (click)="cambiarPregunta(3, i2)">
              <span> {{"N°" + recuentosAnteriores(3, i2)}} </span>
              <i class="pi pi-circle-on mt-1 text-sm {{question.answers_[0].responses != undefined?'text-green-600': 'text-pink-600'}}"
                 style="float: right"></i>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Complete" [selected]="true" class="line-height-3 m-0"
                        *ngIf="evaluationObject.complete.length > 0">
          <div *ngFor="let question of evaluationObject.complete; let i2 = index">
            <div *ngIf="question.name_questioncategory == tipoPregunta(1)"
                 class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2"
                 (click)="cambiarPregunta(4, i2)">
              <span> {{"N°" + recuentosAnteriores(4,i2)}} </span>
              <i class="pi pi-circle-on mt-1 text-sm {{question.answers_[0].responses != undefined?'text-green-600': 'text-pink-600'}}"
                 style="float: right"></i>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Relación" [selected]="true" class="line-height-3 m-0"
                        *ngIf="evaluationObject.relate.length > 0">
          <div *ngFor="let question of evaluationObject.relate; let i2 = index">
            <div class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2"
                 (click)="cambiarPregunta(5, i2)">
              <span> {{"N°" + recuentosAnteriores(5, i2)}} </span>
              <i class="pi pi-circle-on mt-1 text-sm {{question.answers_[0].responses != undefined?'text-green-600': 'text-pink-600'}}"
                 style="float: right"></i>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Puzzle" [selected]="true" class="line-height-3 m-0"
                        *ngIf="evaluationObject.puzzle.length > 0">
          <div *ngFor="let question of evaluationObject.relate; let i2 = index">
            <div class="bg-gray-100 p-2 hover:bg-blue-100 cursor-pointer mb-2"
                 (click)="cambiarPregunta(6, i2)">
              <span> {{"N°" + recuentosAnteriores(6, i2)}} </span>
              <i class="pi pi-circle-on mt-1 text-sm {{question.answers_[0].responses != undefined?'text-green-600': 'text-pink-600'}}"
                 style="float: right"></i>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
      <div class="xl:col-12 md:col-12 sm:col-12 text-center">
        <span>Total Puntos: </span> <span><strong>{{totalPuntos()}}</strong></span>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-9">
    <div class="card">
      <h4> {{'Pregunta N° ' + (indexQuestionObject + 1 || 0) + ' : ' + questionObject.title_question}} </h4>

      <p-chip label="{{getNivelQuestion(questionObject.level_question || 1)}}"
              image="{{'assets/imgresource/emojis/lvl'+(questionObject.level_question|| 1)+'.png'}}"
      ></p-chip>
      <p-chip *ngIf="questionObject.points_question == false" label="Piloto"
              image="{{'assets/imgresource/empty/shield.png'}}"
      ></p-chip>

      <div *ngIf="questionObject.pathurlsign_question != null
      || questionObject.pathurlsign_question!=undefined
      || questionObject.pathurlsign_question == ''" class="col-12 text-center">
        <video id="pathurlsign_question" height="300" controls [src]="questionObject.pathurlsign_question"
               [autoplay]="true">
        </video>
      </div>

      <div *ngIf="questionObject.pathurlsign_question != null" class="col-12 text-center">
        <div class="p-buttonset">
          <button id="reproducir_video" pButton pRipple icon="pi pi-play"
                  class="p-button-rounded p-button-warning mr-2 mb-2"
                  (click)="playVideo()"></button>
          <button id="pausar_video" pButton pRipple icon="pi pi-pause" class="p-button-rounded p-button-info mr-2 mb-2"
                  (click)="pauseVideo()"></button>
          <button id="silenciar_video" pButton pRipple icon="pi pi-volume-up"
                  class="p-button-rounded p-button-success mr-2 mb-2"
                  (click)="mutedVideo()"></button>
        </div>
      </div>

      <h5>{{questionObject.description_question}}</h5>
      <!--Selección unica normal-->
      <div *ngIf="questionObject.name_questioncategory == tipoPregunta(2) && !questionObject.canResource">
        <div *ngFor="let option of questionObject.answers_[0].options_answer; let i = index" >
          <div class="field-radiobutton">
          <p-radioButton [inputId]="'option_rd_' + alphabet[i]" name="Simple_Option" [value]="option"
                         [(ngModel)]="questionObject.answers_[0].responses"
                         (onClick)="changeRadio(i)" ></p-radioButton>
          <label [for]="'option_rd_' + alphabet[i]">{{alphabet[i].toUpperCase() + ")\t" + option.opcion}}</label>
          </div>
        </div>
      </div>
      <!--Selección unica normal con imagenes-->
      <div *ngIf="questionObject.name_questioncategory == tipoPregunta(2) && questionObject.canResource"
           class="flex align-items-center justify-content-between">

        <p-card *ngFor="let option of questionObject.answers_[0].options_answer; let i = index"
                [attr.data-index]="i" [style]="{width: '120px'}" styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <img class="img-color" alt="Card" [src]="option.resource" width="100">
          </ng-template>
          <p>{{option.opcion}}</p>
          <ng-template pTemplate="footer">
            <div class="field-radiobutton">
              <p-radioButton [inputId]="'option_rd_2_' + alphabet[i]" name="Simple_Option_img" [value]="option"
                             [(ngModel)]="questionObject.answers_[0].responses"
                             (onClick)="changeRadio(i)"></p-radioButton>
              <label
                [for]="'option_rd_2_' + alphabet[i]"><strong>{{'Literal ' + alphabet[i].toUpperCase()}}</strong></label>
            </div>
          </ng-template>
        </p-card>
      </div>
      <!--Selección múltiple normal-->
      <div *ngIf="questionObject.name_questioncategory == tipoPregunta(3) && !questionObject.canResource">
        <div *ngFor="let option of questionObject.answers_[0].options_answer; let i = index"
             [attr.data-index]="i">
          <div class="field-radiobutton">
            <p-checkbox [inputId]="'option_ck_' + alphabet[i]" name="multiple_Option" [value]="option"
                        [(ngModel)]="questionObject.answers_[0].responses"
                        (onClick)="changeRadio(i)"></p-checkbox>
            <label [for]="'option_ck_' + alphabet[i]">{{alphabet[i].toUpperCase() + ")\t" + option.opcion}}</label>
          </div>
        </div>
      </div>
      <!--Selección múltiple normal con imagenes-->
      <div *ngIf="questionObject.name_questioncategory == tipoPregunta(3) && questionObject.canResource"
           class="flex align-items-center justify-content-between">

        <p-card *ngFor="let option of questionObject.answers_[0].options_answer; let i = index"
                [attr.data-index]="i" [style]="{width: '120px'}" styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <img alt="Card" [src]="option.resource" width="100">
          </ng-template>
          <p>{{option.opcion}}</p>
          <ng-template pTemplate="footer">
            <div class="field-radiobutton">
              <p-checkbox [inputId]="'option_ck_2_' + alphabet[i]" name="multiple_Option_img" [value]="option"
                          [(ngModel)]="questionObject.answers_[0].responses"
                          (onClick)="changeRadio(i)"></p-checkbox>
              <label
                [for]="'option_ck_2_' + alphabet[i]"><strong>{{'Literal ' + alphabet[i].toUpperCase()}}</strong></label>
            </div>
          </ng-template>
        </p-card>
      </div>
      <div *ngIf="questionObject.name_questioncategory == tipoPregunta(1) && !questionObject.canResource">
        <div *ngFor="let option of questionObject.answers_[0].options_answer; let i = index"
             [attr.data-index]="i">
          <div class="field-radiobutton">
            <p>
              <span *ngFor="let wg of partirPreguntaComplete(option.description_question)">
                {{wg != '$option$' ? wg : ''}}
                <input type="text" pInputText *ngIf="wg == '$option$'"/>
              </span>
            </p>
          </div>
        </div>
      </div>

      <!--Recursos para dibujar-->
      <p-fieldset legend="Raya el correcto" [toggleable]="true">
        <div class="col-12" style="display: flex;align-items: center;justify-content: center;">
          <canvas #canvasEl id="canvasEl"
                  width="450" height="75"></canvas>
        </div>
      </p-fieldset>
      <hr>
      <button pButton pRipple icon="pi pi-step-backward-alt" label="Anterior"
              *ngIf="indexQuestionObject > 0"
              class="p-button-info mr-2 mb-2" (click)="siguientePregunta()"></button>
      <button pButton pRipple icon="pi pi-step-forward" label="Siguiente" class="p-button-info mr-2 mb-2"
              *ngIf="indexQuestionObject < cantidadPreguntas()"
              style="float: right" (click)="anteriorPregunta()"></button>
    </div>
  </div>
</div>
